.tooltip {
	position: absolute;
	background: #88b7d5;
	border: 4px solid #c2e1f5;
	padding:10px;
}

.tooltip:after,.tooltip:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.tooltip:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #88b7d5;
	border-width: 7px;
	left: 50%;
	margin-left: -7px;
}

.tooltip:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #c2e1f5;
	border-width: 13px;
	left: 50%;
	margin-left: -13px;
}
