[run]
source = src
branch = True
omit = 
    static/*
    scripts
    docs
    output
    templates
    *urls*
    *wsgi*
    src/protoLib/utils/generic_views.py
    src/prototype/admin.py
    src/protoLib/localisation/*
    src/snippets/*
    src/softmachine/settings*
    src/protoLib/utils/authPlugins.py
	

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
