[run]
source = src
branch = True
omit = 
	static/*
	scripts
	docs
	output
	templates
    *urls*
    src/protoLib/localisation/*
    src/snippets/*
	src/ProtoExt/settings*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
