[run]
source = src
branch = True
omit = 
	static/*
	src/ll/*
	src/alltests/*
	cmds
	docs
	output
	templates
	xml2db

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.: