<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Proto Certae</title>
        
        <!-- meta -->
        <meta name="description" content="">
        <meta name="author" content="CeRTAE U.Laval/ Giovanni Victorette">
        {% csrf_token %}
 
        <!-- icon -->
        <link rel="shortcut icon" href="laval.ico">
    	
    	<!-- Ext JS Files -->
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}extjs-4.1.x/resources/css/ext-all-gray.css">
        <script type="text/javascript" src="{{ STATIC_URL }}extjs-4.1.x/ext-all-debug.js"></script>
        
        <!-- App Files - the app runs using JS -->
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/app.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/designer.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/statusbar.css">

		<script type="text/javascript" src="{{ STATIC_URL }}metaDefinition/pciObjects.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}metaDefinition/pciProperties.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/globals/variables.js"></script>
		        
        <script type="text/javascript" src="{{ STATIC_URL }}js/ux/ChangePassword.js"></script>
    </head>
    
    <body></body>
</html>