.icon-user {
    background-image: url(../images/user.png) !important;
}

.icon-user-add {
    background-image: url(../images/user_add.gif) !important;
}

.icon-save {
    background-image: url(../images/save.gif) !important;
}

.icon-reset {
    background-image: url(../images/stop.png) !important;
}

.icon-grid {
    background-image: url(../images/grid.png) !important;
}

.icon-add {
    background-image: url(../images/add.png) !important;
}

.icon-delete {
    background-image: url(../images/delete.png) !important;
}


.title {
    font-family: Arial, sans-serif;
    color: #596F8F;
    font-size: 22px;
    font-weight: 200;
    padding: 20px 15px 8px 100px;
    text-shadow: 0 1px 0 #fff;
    background: url(ul.gif) no-repeat 8px 8px;
}
.subtitle {
    font-size: 12px;
    color: #369;
}

.x-tree-selected {
    font-weight: bold;
}