
.title {
    font-family: Arial, sans-serif;
    color: #596F8F;
    font-size: 22px;
    font-weight: 200;
    padding: 20px 15px 8px 100px;
    text-shadow: 0 1px 0 #fff;
    background: url(ul.gif) no-repeat 8px 8px;
}
.subtitle {
    font-size: 12px;
    color: #369;
}

.x-tree-selected {
    font-weight: bold;
}

/*  Iconos del ToolBar */

.icon-search24  { background-image: url(../img/protoImg/search16.png ) !important; }
.icon-filter24  { background-image: url(../img/protoImg/filter24.png ) !important; }
.icon-order24   { background-image: url(../img/protoImg/order24.png ) !important;  }
.icon-views24   { background-image: url(../img/protoImg/cards24.png ) !important;  }
.icon-details24 { background-image: url(../img/protoImg/details24.png ) !important;}

.icon-page_white_get { background-image:url(../img/famfamfam/page_white_get.png) !important; }

.sort-desc { background-image: url(../img/protoImg/sort_desc.gif) !important; background-position: 4px 7px !important; }
.sort-asc  { background-image: url(../img/protoImg/sort_asc.gif) !important; background-position: 4px 7px !important; }


.icon-stop    { background-image: url(../img/protoImg/stop.png) !important; }
.icon-details { background-image: url(../img/protoImg/details.png) !important; }
.icon-promote { background-image: url(../img/protoImg/promote.png) !important; }



/*  Iconos Aplicacion  */
.icon-model    { background-image: url(../img/app/model.png ) !important;}
.icon-concept  { background-image: url(../img/app/concept.png ) !important;}
.icon-property { background-image: url(../img/app/property.png ) !important;}



/*  Iconos temporales */
.icon-1 { background-image: url(../img/tmp/1.png ) !important; }
.icon-2 { background-image: url(../img/tmp/2.png ) !important; }
.icon-3 { background-image: url(../img/tmp/3.png ) !important; }
.icon-4 { background-image: url(../img/tmp/4.png ) !important; }
.icon-5 { background-image: url(../img/tmp/5.png ) !important; }
.icon-6 { background-image: url(../img/tmp/6.png ) !important; }
.icon-7 { background-image: url(../img/tmp/7.png ) !important; }


/*Fiche */

.negro {padding:5px;font-weight: normal; width:25%;vertical-align:top;}
.desc {padding:5px;width:75%;text-align:justify;}
.ficha {width:100%; border-style:none;} 

/*.barra {width:100%;height:100%;overflow:auto;}*/
ul.cuadro {list-style-type: square;}


.blanco{font:normal 12px tahoma, arial, verdana, sans-serif;background-color:white;border-color:#ededed;border-style:solid;border-width:1px 0;border-top-color:#fafafa}
.azul  {font:normal 12px tahoma, arial, verdana, sans-serif;background-color:#fafafa;border-color:#ededed;border-style:solid;border-width:1px 0;border-top-color:white}


/*.x-grid-row-alt .x-grid-cell,.x-grid-row-alt .x-grid-rowwrap-div{background-color:#fafafa}*/

.cuadro {list-style-type:square;font:normal 11px tahoma, arial, verdana, sans-serif;}
.table_interieure{border-style: none;}
.table_interieure th{
	border-width:2px;
	padding:3px;
	border-style:solid;
	border-bottom-color:gray;
	border-top-color:#fafafa;
	border-right-color:#fafafa;
	border-left-color:#fafafa;
	background-color:white;
	font:normal 11px tahoma, arial, verdana, sans-serif;}

.table_interieure td {border-width: thin;
	padding:3px;
	border-style:solid;
	border-top-color:#fafafa;
	border-right-color:#fafafa;
	border-bottom-color:#ededed;
	border-left-color:#fafafa;
	background-color: white;
	font:normal 11px tahoma, arial, verdana, sans-serif;text-align:justify;
	vertical-align:top;}
