<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		{% block sitetitle %}
		<title>Proto Certae</title>
		{% endblock %}

		{% block meta %}
		<meta name="description" content="">
		<meta name="author" content="CeRTAE U.Laval/ Dario Gomez">
		{% endblock %}
		{% csrf_token %}
		
		<!-- icon -->
		<link rel="shortcut icon" href="laval.ico">
		<!-- Ext JS Files -->
		{% block extjs %}
		<link rel="stylesheet" type="text/css" href="http://cdn.sencha.com/ext/gpl/4.2.1/resources/css/ext-all-gray.css">
		<script type="text/javascript" src="http://cdn.sencha.com/ext/gpl/4.2.1/ext-all.js"></script>
		{% endblock %}
		
		{% block defaultstylesheets %}
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/app.css">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/designer.css">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/statusbar.css">
		{% endblock %}
		{% block extrastylesheets %}{% endblock %}
		
		<script type="text/javascript" src="{{ STATIC_URL }}js/globals/variables.js"></script>
		{% block configproperties %}
		<script type="text/javascript" src="{{ STATIC_URL }}js/globals/configProperties.js"></script>
		{% endblock %}
		
		<!-- load i18n files on the fly -->
		<script type="text/javascript" id="extlocale"></script>
		<script type="text/javascript" id="protolocale"></script>
		<script type="text/javascript">
			getParams = '{{ isPasswordReseted }}';
			window.isPasswordReseted = getParams;
            // get the system language
            var userLang = '{{LANGUAGE_CODE}}';
            if (/en-[US|us]/.test(userLang)) {
                userLang = 'en';
            }
            
            // available locale files
            var locales = ['fr', 'es', 'en'];
            // default locale
            var locale = 'fr';
            // check browser language against available locale files
            for (var i = locales.length - 1; i >= 0; i--) {
                if (userLang === locales[i]) {
                    locale = userLang;
                    break;
                }
            };

            // Insert src attribute to extlocale and protolocale
            if (locale) {
                Ext.fly('extlocale').set({
                    src: 'http://cdn.sencha.com/ext/gpl/4.2.1/locale/ext-lang-' + locale + '.js'
                });
                Ext.fly('protolocale').set({
                    src: '{{ STATIC_URL }}js/globals/locale/SM__lang-' + locale + '.js'
                });
            }
		</script>
		<!-- ==== end i18n ==== -->
		
		{% block extjsloader %}{% endblock %}
		<script type="text/javascript" src="{{ STATIC_URL }}js/app-all.js"></script>
		{% block javascript %}{% endblock %}
	</head>
	<body></body>
</html>