@charset "UTF-8";
body {
	margin:0;
	padding:0;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	width:100%;
	background:#ffffff;
	min-width:600px;    	/* Minimum width of layout - remove line if not required */
					/* The min-width property does not work in old versions of Internet Explorer */
	font-size:90%;
	background-color:#ffffff;
	font-family: tahoma, arial,verdana,sans-serif;
}
a.menu:link {text-decoration:none; color:#003399;}   
a.menu:visited {text-decoration:none; color:#800080;} 
a.menu:hover {text-decoration:underline; color:#8eabe4;}   
a.menu:active {text-decoration:underline; color:#FF0000;}
h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
}
h1 { color:#17385b;
	font-size: 20px;}
h2 {font-size: 18px;}
h3 {font-size: 15px;}
h4 {font-size: 14px;}
div {padding:0;}
p {
	margin:.4em 0 .8em 0;
	padding:0;
	text-align:justify;
	font-size: 14px;
	line-height:130%;
}
hr { border: none;
	border-top: 1px solid #ccc;
	background-color: #ddd; color: #ddd;
	height: 2px;
	}
img {
    float:left;
    margin:0 9px 0 -15px;
    padding:15px;
    border:none;
    text-align:center;}
p.retour {text-align:right;}
p.note {border-style:dotted;
	   border-color:#d1d1d1;
	   background-color:#eee;
	   padding: 5px;}
.tabmat { list-style-type: none;
		padding-left:10px;
		line-height: 1.5em;}
.grass {font-weight:bold;}
li.etape { text-align:justify;
	font-size: 14px;
	line-height:160%;
	}
li.abc {list-style-type:lower-alpha;}
.saute {clear:both;}
.f_droite {background: url(images/icon_ouvrir24.png) no-repeat 0 0 transparent;
					 margin: 0.5px; 
					 padding: 0px 0px 1px 20px;
					 vertical-align: top;}
.f_droite2 {background: url(images/icon_droit224.png) no-repeat 0 0 transparent;
					 margin: 0.5px; 
					 padding: 0px 0px 44px 15px;
					 vertical-align: top;}
.f_gauche {background: url(images/icon_fermer24.png) no-repeat 0 0 transparent;
					 margin: 0.5px; 
					 padding: 0px 0px 1px 20px;
					 vertical-align: top;}
.f_gauche2 {background: url(images/icon_gauche224.png) no-repeat 0 0 transparent;
					 margin: 0.5px; 
					 padding: 0px 0px 44px 15px;
					 vertical-align: top;}
.f_dero {background: url(images/liste_derolante24.png) no-repeat 0 0 transparent;
					 margin: 0.5px; 
					 padding: 0px 0px 3px 20px;
					 vertical-align: top;}
.su_fil {background: url(images/supp_filtres24.png) no-repeat 0 0 transparent;
					 margin: 0.5px; 
					 padding: 0px 0px 5px 20px;
					 vertical-align: top;}
.f_blu {background: url(images/fleche_blue24.png) no-repeat 0 0 transparent;
					 margin: 0.5px; 
					 padding: 0px 0px 1px 14px;
					 vertical-align: top;}
.f_fer1 {background: url(images/icon_bas24.png) no-repeat 0 0 transparent;
					 margin: 0.5px; 
					 padding: 0px 0px 1px 24px;
					 vertical-align: top;}
.f_fer2 {background: url(images/icon_bas224.png) no-repeat 0 0 transparent;
					 margin: 0.5px; 
					 padding: 0px 0px 1px 44px;
					 vertical-align: top;}
.f_ouv1 {background: url(images/icon_haut24.png) no-repeat 0 0 transparent;
					 margin: 0.5px; 
					 padding: 0px 0px 1px 24px;
					 vertical-align: top;}
.f_ouv2 {background: url(images/icon_haut224.png) no-repeat 0 0 transparent;
					 margin: 0.5px; 
					 padding: 0px 0px 1px 44px;
					 vertical-align: top;}
.f_fer {background: url(images/fermer_onglet24.png) no-repeat 0 0 transparent;
					 margin: 0.5px; 
					 padding: 0px 0px 1px 15px;
					 vertical-align: top;}
/* Header styles */
#header {
	clear:both;
	float:left;
	width:100%;
}
#header {
	border-bottom:1px solid #000;
}
#header h1,
#header h2 {
	padding:.4em 15px 0 15px;
	margin:0;
}
