<html>
<head>
    <meta charset="utf-8">
    <title id="page-title">Tester</title>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}testing/lib/jasmine-1.3.1/jasmine.css">

    <script type="text/javascript" src="{{ STATIC_URL }}extjs-4.1.x/ext-dev.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}testing/lib/jasmine-1.3.1/jasmine.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}testing/lib/jasmine-1.3.1/jasmine-html.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}metaDefinition/pciObjects.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}metaDefinition/pciProperties.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/globals/variables.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/ux/Login.js"></script>

    <!-- include specs here -->
<!--     <script type="text/javascript" src="{{ STATIC_URL }}testing/tests/example.js"></script> -->
    <script type="text/javascript" src="{{ STATIC_URL }}testing/tests/LoginTest.js"></script>

    <!-- test launcher -->
    <script type="text/javascript" src="{{ STATIC_URL }}testing/app-test.js"></script>

</head>
<body>
</body>
</html>
