<html>
<head>
    <meta charset="utf-8">
    <title id="page-title">Prototypeur CeRTAE -- Tests unitaires Jasmine</title>

	<!-- <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}testing/lib/jasmine-2.0.0/jasmine_favicon.png">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}testing/lib/jasmine-2.0.0/jasmine.css">

	<script type="text/javascript" src="{{ STATIC_URL }}testing/lib/jasmine-2.0.0/jasmine.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}testing/lib/jasmine-2.0.0/jasmine-html.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}testing/lib/jasmine-2.0.0/boot.js"></script> -->
	
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}testing/lib/jasmine-1.3.1/jasmine.css">

    <script type="text/javascript" src="{{ STATIC_URL }}testing/lib/jasmine-1.3.1/jasmine.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}testing/lib/jasmine-1.3.1/jasmine-html.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}testing/lib/jasmine-1.3.1/mock-ajax.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}extjs-4.2.x/ext-dev.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}metaDefinition/pciObjects.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}metaDefinition/pciProperties.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/globals/variables.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/ux/Login.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ux/StatusBar.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/view/MenuTree.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/view/ProtoTabContainer.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/view/Viewport.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/view/password/ForgotPasswordForm.js"></script>
    
    <script type="text/javascript" src="{{ STATIC_URL }}js/controller/PasswordManager.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ux/ProtoProperty.js"></script>
    
    <!-- include specs here -->
    <script type="text/javascript" src="{{ STATIC_URL }}testing/tests/example.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}testing/tests/LoginTest.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}testing/tests/DiagramEditorTest.js"></script>

    <!-- test launcher -->
    <script type="text/javascript" src="{{ STATIC_URL }}testing/app-test.js"></script>


</head>
<body>
</body>
</html>
