<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Proto Certae</title>
        
        <!-- meta -->
        <meta name="description" content="">
        <meta name="author" content="CeRTAE U.Laval/ Dario Gomez">
        {% csrf_token %}
 
        <!-- icon -->
        <link rel="shortcut icon" href="laval.ico">
                
        
        <!-- Ext JS Files -->
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}extjs-4.1.x/resources/css/ext-all-gray.css">
        <script type="text/javascript" src="{{ STATIC_URL }}extjs-4.1.x/ext-all-debug.js"></script>
        
        <!-- App Files La aplicacion esta corriendo en JS -->
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/app.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/designer.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/statusbar.css">

        <script type="text/javascript" src="{{ STATIC_URL }}metaDefinition/pciObjects.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}metaDefinition/pciProperties.js"></script>

        <script type="text/javascript" src="{{ STATIC_URL }}js/globals/variables.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/globals/Tools.js"></script>

        <script type="text/javascript" src="{{ STATIC_URL }}js/core/ProtoStore.js"></script>

        <script type="text/javascript" src="{{ STATIC_URL }}js/UI/TbMasterDetail.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/UI/FormController.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/UI/GridController.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/UI/GridSheetController.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/UI/ConfigController.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/UI/MDTbSortByController.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/UI/MDDetailsController.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/UI/MDPrintOptsController.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/UI/MDActionsController.js"></script>

        <script type="text/javascript" src="{{ STATIC_URL }}js/UI/MDSetFiltersController.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/UI/MDSetSortersController.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/UI/MDSetTabsController.js"></script>

        <script type="text/javascript" src="{{ STATIC_URL }}js/proto/ProtoFieldSelector.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/proto/ProtoDesigner.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/proto/ProtoPcl.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/proto/ProtoToolBar.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/proto/ProtoTools.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/proto/ProtoPropertiesTools.js"></script>
        

        <script type="text/javascript" src="{{ STATIC_URL }}js/ux/ProtoZoom.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/ux/GridHeaderToolTip.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/ux/GridCheckColumn.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/ux/FieldHtmlEditor.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/ux/ProtoSearchBG.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/ux/StatusBar.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/ux/Login.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/ux/ProtoList.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/ux/HtmlSet.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/ux/ParameterWin.js"></script>

        <script type="text/javascript" src="{{ STATIC_URL }}js/ux/ProtoQBE.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/ux/HelpQbe.js"></script>

<!--    <script type="text/javascript" src="{{ STATIC_URL }}js/protoOrg/tasks/TaskController.js"></script> -->                 

        <script type="text/javascript" src="{{ STATIC_URL }}js/view/ProtoGrid.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/view/ProtoMasterDetail.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/view/ProtoForm.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/view/ProtoTabContainer.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/view/Viewport.js"></script>

        <script type="text/javascript" src="{{ STATIC_URL }}js/app.js"></script>

               
    </head>
    <body></body>
</html>