<!DOCTYPE html>
<html lang="fr">
    <head>
    	<meta charset="utf-8">
        <title>Proto Certae</title>
        
        <!-- meta -->
        <meta name="description" content="">
        <meta name="author" content="CeRTAE U.Laval/ Dario Gomez">
    	{% csrf_token %}
 
        <!-- icon -->
        <link rel="shortcut icon" href="laval.ico">
                
        
        <!-- Ext JS Files -->
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}extjs-4.1.x/resources/css/ext-all.css">
        <script type="text/javascript" src="{{ STATIC_URL }}extjs-4.1.x/ext-all-debug.js"></script>
        
        <!-- App Files La aplicacion esta corriendo en JS -->
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/app.css">
        <script type="text/javascript" src="{{ STATIC_URL }}js/globals/variables.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/globals/Tools.js"></script>

        <script type="text/javascript" src="{{ STATIC_URL }}js/UI/TbMasterDetail.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/UI/FormController.js"></script>

        <script type="text/javascript" src="{{ STATIC_URL }}js/ux/ProtoZoom.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/ux/GridHeaderToolTip.js"></script>
        
        <script type="text/javascript" src="{{ STATIC_URL }}js/ux/FieldHtmlEditor.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/view/ProtoGrid.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/view/ProtoMasterDetail.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/view/ProtoForm.js"></script>

        <script type="text/javascript" src="{{ STATIC_URL }}js/app.js"></script>

               
    </head>
    <body></body>
</html>