<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>
            TreeGrid Example
        </title>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}extjs-4.1.x/resources/css/ext-all.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}extjs-4.1.x/examples/shared/example.css">

    <!-- GC -->

        <script type="text/javascript" src="{{ STATIC_URL }}extjs-4.1.x/ext-all-debug.js"></script>

        <script type="text/javascript" src="{{ STATIC_URL }}pruebas/treegrid.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}pruebas/treegridData.js"></script>
        <style type="text/css">
            .task {
                background-image: url({{ STATIC_URL }}extjs-4.1.x/examples/shared/icons/fam/cog.gif) !important;
            }
            .task-folder {
                background-image: url({{ STATIC_URL }}extjs-4.1.x/examples/shared/icons/fam/folder_go.gif) !important;
            }
        </style>
    </head>
    <body>
        <h1>
            TreeGrid Example
        </h1>
        <p>
            This example is an advanced tree example. It illustrates:
        </p>
        <div id="tree-example"></div>
    </body>
</html>
