<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}ext-4.0.7/resources/css/ext-all.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}ext-4.0.7/examples/shared/example.css" />

    <script type="text/javascript" src="{{ STATIC_URL }}ext-4.0.7/bootstrap.js"></script>
<!--     <script type="text/javascript" src="../shared/examples.js"></script> -->

<!--     <link rel="stylesheet" type="text/css" href="../ux/grid/css/GridFilters.css" /> -->

    <script type="text/javascript" src="{{ STATIC_URL }}js/_dynamicModel/dynamic_model.js"></script>

<!--     <link rel="stylesheet" type="text/css" href="../grid/css/RangeMenu.css" /> -->
<!--     <link rel="stylesheet" type="text/css" href="style.css" /> -->

</head>

<body>
</body>
</html>