<script>
var myText = 'Hello world!', 
    myHTML = '<b>'+myText+'</b>';

function openFile (textToEncode, contentType, newWindow) {
    // For window.btoa (base64) polyfills, see 
    // https://github.com/Modernizr/Modernizr/wiki/HTML5-Cross-browser-Polyfills
    var encodedText = window.btoa(textToEncode);
    var dataURL = 'data:' + contentType + ';base64,' + encodedText;
    
    // Not useful for application/octet-stream type
    if (newWindow) { window.open(dataURL); // To open in a new tab/window
    } else { window.location = dataURL; // To change the current page
    }
    
    
    // Ext.DomHelper.append(document.body, {
        // tag: 'iframe',
        // frameBorder: 0,
        // width: 0,
        // height: 0,
        // css: 'display:none;visibility:hidden;height:1px;',
        // src: 'http://blabla.com/f75e927b-2041-473e-86ba-cbbc60dbc285.pdf'
    // });
    
}
</script>

<h1>Hello world files:</h1>

<p>Octet stream type to prompts download dialog in Firefox, but with no default file type or path:</p> 

<a href="data:application/octet-stream;base64,SGVsbG8sIFdvcmxkIQ%3D%3D"> (text example)</a>
<a href="data:application/octet-stream;base64,PGI+SGVsbG8gd29ybGQhPC9iPg=="> (HTML example)</a>

<button onclick="openFile(myHTML, 'application/octet-stream');">(HTML example, from JavaScript)</button>


<p>Quickly viewable (and manually savable) in browser but no dialog presented:</p>

<a href="data:text/plain;base64,SGVsbG8sIFdvcmxkIQ%3D%3D">(plain text, same window)</a>
<a href="data:text/plain;base64,SGVsbG8sIFdvcmxkIQ%3D%3D" target="new-tab">(plain text--in new tab)</a>

<a href="data:text/html,%3Ch1%3EHello%2C%20World!%3C%2Fh1%3E">(HTML, same window)</a>
<button onclick="openFile(myText, 'text/plain');">(text example, from JavaScript)</button>
<button onclick="openFile(myText, 'text/plain', true);">(text example, from JavaScript; open in new window)</button>
<button onclick="openFile(myHTML, 'text/html', true);">(HTML example, from JavaScript; open in new window)</button>