@charset "UTF-8";
body {
	margin:0;
	padding:0;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	width:100%;
	background:#fff;
	min-width:600px;    	/* Minimum width of layout - remove line if not required 
					/* The min-width property does not work in old versions of Internet Explorer */
	font-size:90%;
	background-color:#dfe9f6;
	font-family: tahoma, arial,verdana,sans-serif;
}
a.menu:link {text-decoration:none; color:#003399;}   
a.menu:visited {text-decoration:none; color:#800080;} 
a.menu:hover {text-decoration:underline; color:#8eabe4;}   
a.menu:active {text-decoration:underline; color:#FF0000;}
h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
}
h1 { color:#17385b;
	font-size: 20px;}
h2 {font-size: 18px;}
h3 {font-size: 15px;}
h4 {font-size: 14px;}
p {
	margin:.4em 0 .8em 0;
	padding:0;
	text-align:justify;
	font-size: 14px;
	line-height:130%;
}
ul.tabmat a {display: block;}
*html ul.tabmat a {zoom:1;}
ul.tabmat { list-style-type: none;
		padding-left:10px;
		margin-left: 0;
		line-height: 1.5em;}
.grass {font-weight:bold;}
iframe#frame { width:100%; height: 100%;}
/* Header styles */
#header {
	clear:both;
	float:left;
	width:100%;
}
#header {
	border-bottom:1px solid #000;
}
#header h1,
#header h2 {
	padding:.4em 15px 0 15px;
	margin:0;
}
/* column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;
	position:relative;
}
.col1 {height: 830px;}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 1em 0;
	overflow:hidden;
}
/* 2 Column (left menu) settings */
.leftmenu {
	background:#fff;		/* right column background colour */
}
.leftmenu .colleft {
	right:75%;			/* right column width */
	background:#f4f4f4;	/* left column background colour */
}
.leftmenu .col1 {
	width:71%;			/* right column content width */
	left:102%;			/* 100% plus left column left padding */
}
.leftmenu .col2 {
	width:21%;			/* left column content width (column width minus left and right padding) */
	left:6%;			/* (right column left and right padding) plus (left column left padding) */
}
/* Footer styles */
#footer {
	clear:both;
	float:left;
	width:100%;
	border-top:1px solid #000;
}
#footer p {
	padding:.5em;
	margin:0;
}
#footer li {float:right; 
					 display:inline;
					 text-decoration:none;}
#footer ul {margin:0;
					padding: 0;}